.main-container{
    margin-top: 5vh;
    width: 720px;
    height: 450px;
    background-color: white;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
    box-shadow: 0px 1px 12px -4px rgba(66, 68, 90, 1);
}
.input-and-button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    gap: 20px;
}



.add-task-button {
  background-image: linear-gradient(-180deg, #37AEE2 0%, #1E96C8 100%);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #FFFFFF;
  font-size: 12px;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: "Helvetica Now Display DW",sans-serif;
  width: 20%;
  height: 40px;
  text-align: center;
  vertical-align: center;
}

.add-task-button:hover {
  background-image: linear-gradient(-180deg, #1D95C9 0%, #17759C 100%);
}
.input{
    border-color: #1D95C9;
    border-radius: 2px;
    text-align: center;
    width: 280px;
    height: 50px;
}
